.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.heading {
  padding-top: 70px;
  background-image: url('/main-page-background.jpg');
  background-repeat: no-repeat;
  background-position: center top 60px;
  width: 100%;
  text-align: center;
  min-height: 100vh;
}

.headingTwo {
  margin-top: 582px;
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 780px) {
  .headingTwo {
    margin-top: 540px;
  }
}

@media (max-width: 410px) {
  .headingTwo {
    margin-top: 500px;
  }
}

.headingThree {
  font-size: 32px;
  font-weight: bold;
}
