.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: #3784f7;
  border: 1px solid #3784f7;
  border-radius: 6px;
  color: #dafff7;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active {
  background-color: #0c6bfa;
  border-color: #0c6bfa;
}
